#include "resource.h"
#include <windows.h>

IDD_MYPLUGIN_DIALOG DIALOGEX 0, 0, 300, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "My x64dbg Plugin"
FONT 9, "Segoe UI"
BEGIN
    LTEXT       "Welcome to My x64dbg Plugin!", -1, 20, 20, 260, 14
    EDITTEXT    IDC_EDIT_INFO, 20, 45, 260, 100, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    PUSHBUTTON  "OK", IDC_BTN_OK, 120, 165, 60, 20
END
